<%- contentFor("title") %>
    Delete Client

    <%- contentFor("body") %>
        <form method="POST" class="mt-3">
            <div class="alert alert-danger">
                Are you sure want to delete <%=client.first_name%>
                    <%=client.last_name%> ?
                        <div>
                            <a href="/clients" class="btn btn-success">Cancel</a>
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </div>
            </div>
        </form>